:root {
    --fondo: #d9d4d0;
    --botones: #997f64;
    --botones-hover: #212e51;
    --texto-hover: #fff;
    --texto-normal: #212e51;
    --bg-usuario: #adb8ba;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    display: grid;
    font-family: 'Krub', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--texto-hover); 
    font-size: 24px;
    font-weight: 700;
    background-color: var(--fondo);
}
header {
    display: grid;
    border-radius: 16px;
    padding: 20px;
    margin: 0px 25px 25px 25px;   
    grid-template-columns: 5fr 1fr;
}
header h1 {
    font-size: 2rem;
    padding: 10px 20px;
    margin-right: auto;
    margin-left: 85px;
    margin-top: 0;
    margin-bottom: auto;
    border-radius: 15px;
    border: none;
    background-color: var(--botones);
}
header .usuario {
    display: flex;
    margin: 0;
    padding: 15px 0 15px 15px ;
    margin-left: 50px;
    margin-bottom: auto;
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px;
    text-align: left;
    border: none;
    background-color: var(--bg-usuario);
}

.logout-btn {
    background-color: var(--botones);
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    
    transition: background-color 0.3s ease;
}
.logout-btn:hover {
    background-color:var(--botones-hover);
}
.bnv-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: 115px;
    width: 80%;
    height: 80%;
    background-color: var(--bg-usuario);
    border-radius: 50px;
}
.bnv-container h1 {
    margin: 0;
    padding: 0;
}
.bnv-container h3 {
    text-transform: none;
    margin: 0;
    padding: 0;
}
.menu-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    grid-column: auto;
    align-items: center;
    
}
.menu-btn{
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin: 10px 0;
    gap: 15px;
    max-width: 200px;
}
.btn {
    background-color: var(--bg-usuario);
    border: none;
    color: var(--texto-hover);
    border-radius: 15px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    padding: 20px;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: var(--botones-hover);
    color: var(--texto-hover);
}
